<p><h2>All Todos</h2></p>
<div class="todos">
  <p> Todo --- Complete? </p>
    <%= form_tag("/todos/delete", method: "delete") do %>
    <div>
      <ol>
        <% todos.each do |todo| %>
          <li>
            <%= render partial: 'todo_list', locals: { todo: todo } %>
          </li>
        <% end %>
      </ol>
    </div>
    <p>
      <%= submit_tag("DELETE", data: { confirm: "Are you sure?" }) %>
    </p>
    <% end %>
</div>
