// Place all the styles related to the todo_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background-primary: #C10C06;
$background-secondary: black;
$text-color-primary: white;
$link-color: white;

header {

  background: $background-secondary;
  padding: 5px 0 20px 15px;
  color: $text-color-primary;
  text-shadow: 2px 1px red;
  a {

    color: white;
  }
};

h1{
  text-align: center;
};
h2{
  padding-left: 80px;
  color: $text-color-primary;
  text-shadow: 2px 1px black;
};

a {
  color: $link-color;
  text-shadow: 2px 1px black;
  text-decoration: none;

};

body {
  border: solid black 10px;
  margin: 0;
  background: $background-primary;
};

.create-tag{
  float: right;
  padding-right: 10px;
};

.todos {
  padding-left: 20px;
  background-image: url(http://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-get-things-done-34.png);
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
};

p {
  padding-left: 50px;
  color: $text-color-primary;
};

footer{
  text-align: center;
  background: $background-secondary;
};
